{{define "header"}}
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="navbar-brand">lyi</a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">首页</a></li>
          <li><a href="/blog" class="nav-link px-2 text-white">博客</a></li>
          <li><a href="/add_blog" class="nav-link px-2 text-white">添加博客</a></li>
        </ul>
        <div class="text-end">
          <a type="button" href="/login" class="btn btn-outline-light me-2">登陆</a>
          <a type="button" href="/register" class="btn btn-warning">注册</a>
        </div>
      </div>
    </div>
  </header>
  {{end}}